[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third_party/oscpp"]
	path = third_party/oscpp
	url = https://github.com/kaoskorobase/oscpp.git
